//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$orange: #daa746 !default; // Changing color
$primary: $orange !default; // Changing color
$blue: #4679da !default; // Changing color
$info: $blue !default; // Changing color
